
section {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
body {
    margin: 8px;
    display: block
}

.funParagraph{
    color:green

}
#mainHeading {
    color: red;
}

